.green_highlight {
    background-color: #DCDCC3  ;
    font-weight: 700  ;
}

.hilite {
    background-color: #D2E6FC  ;
}

.featurebox_col {
    display: inline-block  ;
    vertical-align: top  ;
    padding: 7px 0 0  ;
    margin: 0 0 5px  ;
    *display: inline  ;
    zoom: 1  ;
}

.featurebox_row {
    display: block  ;
}

.featurebox_filter {
    float: right  ;
    margin-top: 6px  ;
    *margin-top: -5px  ;
    margin-right: 1px  ;
}

.featurebox_select_small {
    width: 100px  ;
}

.featurebox_select {
    width: 120px  ;
}

.featurebox_select_medium {
    width: 140px  ;
}

.featurebox_select_large {
    width: 160px  ;
}

.featurebox_select_extra_large {
    width: 190px  ;
}

.searchmain {
    z-index: 1;
    position: relative;
    padding: 10px;
    padding-left: 20px;
    margin: 0px;
    margin-right:20px;
    background-color: #fff;
    border:1px solid #87CEFA;
    border-radius:5px;
    margin-left:-15px;
    font-family: Verdana,sans-serif;
    font-size: 12px;
}

div.searchmain_long {
    min-height: 116px;
}

div.searchmain_extra_long {
    min-height: 141px;
}
#searchmain{
    padding-right:5px !important;
    background-color: #f3fafe;
}
  
div.featurebox {
    margin: 0 0 6px  ;
    overflow: hidden  ;
}


 input::-webkit-input-placeholder {
    color: #666  ;
}

 input:-moz-placeholder,  input::-moz-placeholder {
    color: #666  ;
    opacity: 1  ;
}

 input:-ms-input-placeholder {
    color: #666  ;
}

/*.Btn3{
    background-color: #3eb0f7;
    color: #fff;

    border-radius: 0px;
    width:200px;
    font-size:17px;

}

    .Btn3:focus,
    .Btn3.focus {
        background-color:#6ca4c8;
        color:#fff;
    }

    .Btn3:hover {
        background-color:#6ca4c8;
        color:#fff;
    }*/


.Btn3{
    background-color: #3eb0f7;
    color: #fff;
    
    background: linear-gradient(to bottom,#56baf8,#3eb0f7)no-repeat,#3eb0f7  ;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#56baf8', endColorstr='#3eb0f7')  ;
    background-size: 100% 36px;
    border: 1px solid #3eb0f7;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    transition: background 150ms ease;
    cursor: pointer;
    font-family: Verdana,sans-serif;
    min-width: 120px;
    padding: 12px;
    outline: none;

}
.Btn3:hover, .Btn3:active, .Btn3:focus {
        color:white;
        background-position: 0 -36px  ;
    }
    .Btn3:active{
        color:white;
    }
