
@{
    ViewBag.Title = "Sujet";
    var culture = Sough.GererLang.currentLang; 
}

@Styles.Render("~/Content/featurebox_select-"+culture)

<div class="container content">
    <div class="row content">
        <div class="col-md-12">
           <span>
                   <select onchange="setSubject();" id="cat" name="cat" class="featurebox_select_large">
                       <option value="">&#171;Sujet&#187;</option>
                       @Html.Partial("_CategoriesController")
                   </select>
           </span>

        </div>
    </div> <!-- fin row content -->
</div> <!-- fin container content -->


@section Scripts {
    <script type="text/javascript" src="~/Scripts/create/create-ad.js"></script>}