td img {
        display: block;
    }
.home-div-search {
    padding: 20px;
    background-color: #f3fafe;  /*#eceff1*/
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float:right;
}
#cat{
    width:190px;
}
#ville{
    width:155px;
}

.list_left_navigation {
    
    width: 205px;
    float: right;
    clear: both;

}


    .list_left_navigation_cat_list a, .list_left_navigation_cat_list a:link {
        text-decoration: none;
        font-family: Verdana,Arial,sans-serif;
        font-style: normal;
        font-size: 12px;
        white-space: normal;
    }

        .list_left_navigation_cat_list a:hover {
            color: #0066D5;
            text-decoration: none;
        }


    .list_left_navigation_cat_list ul {
        list-style: none;
        width: 183px;
    }

.navigation_c {
    border: 1px solid #CCC;
}

.navigation_c {
    background: #FFF;
    border-radius: 5px;
}

.shadow {
    -o-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.cat_level_0 {
    /*margin-top: 7px;*/
    margin-bottom: 0;
    font-weight: 700;
    color: #000;
}

    .cat_level_0 a, .cat_level_0 a:link {
        font-weight: 700;
    }



.cat_level_1 {
    margin-bottom: 0;
}

    .cat_level_1 a, .cat_level_1 a:link {
        font-weight: 400;
    }

.cat_level_2 {
    margin-right: -10px;
    margin-top: 0;
}

    .cat_level_2 a, .cat_level_2 a:link {
        font-weight: 400;
    }

    .cat_level_2 li {
        margin-top: 0;
        padding-top: 0;
    }

.nohistory, .nohistory a:link, .nohistory a:visited, .nohistory_link a, .nohistory_link a:link, .nohistory_link a:visited {
    color: #0066D5;
    white-space: nowrap;
}

.nohistory_wrap, .nohistory_wrap a:link, .nohistory_wrap a:visited {
    color: #0066D5;
}

.div-cat {
    display: block;
    line-height: 1;
}
.div-cat ul{
    margin-right: -40px;
}
.div-cat ul li{
    margin-bottom:10px;
}
.div-cat ul li a{
    color:#308fe4;
    line-height:15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration:none;
}
.div-ville {
    margin-top: 67px;
    margin-bottom: 27px;
    margin-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    line-height: 1;
}

.row-ville {
    margin-top: 17px;
}

    .row-ville a {
        color: #000000;
    }

        .row-ville a:hover {
            text-decoration: underline;
            color: #000;
        }



@media (min-width: 970px) {
    #ville{
        margin-left:50px;
    }
    .list_left_navigation {
        /*padding:15px;*/
    }
}

/*@media (min-width: 992px) and (max-width:1093px) {
    #btn-search{
        margin-top:10px;
    }
    
}
@media (min-width: 801px) and (max-width:946px) {
    #btn-search{
        margin-top:10px;
    }
    
}
@media (min-width: 1094px) and (max-width:1100px) {
    #btn-search{
        margin-top:10px;
    } 
}
@media (min-width: 970px) and (max-width:991px) {
    #btn-search{
        margin-top:10px;
    } 
}

@media (max-width: 800px) {
    #btn-search{
        margin-top:10px;
    }
    
}*/
@media (min-width: 970px) and (max-width:1045px) {
    #btn-search{
        margin-top:10px;
    } 
}

@media (min-width: 768px) and (max-width:904px) {
    #btn-search{
        margin-top:10px;
    } 
}

@media (max-width:992px) {/* Tablet */
    #cat{
        margin-right:25px;
    }
     #ville{
        margin-right:25px;
    }
     #btn-search{
        margin-right:25px;
    }
     .list_left_navigation {
        padding:5px;
    }
     .row-ville{
         text-align:center;
     }
}
@media (min-width: 905px) and (max-width:969px) {
    #btn-search{
        margin-right:50px;
    } 
    #cat{
        margin-right:10px;
    }
     #ville{
        margin-right:10px;
    }
}
@media (min-width: 787px) and (max-width:790px) {
     
    #cat{
        margin-right:5px;
    }
     #ville{
        margin-right:5px;
    }
}
@media (max-width:767px) {
    .home-div-search{
        width:250px;
        margin-right:7px;
    }
}
.col-ville{
    margin-right:2px;
}

#lbl-ville{
    text-align:center;
}

#map{
    margin-top:47px;
    margin-bottom:47px;
}
.row-map{
    float:right;

    margin-top:50px;
    margin-right:80px;
    margin-bottom:50px;
}
.row-top-cat{
    margin-top:95.1px;
    margin-bottom : 50.1px;
}
.row-top-cat .col-top-cat{
    float:right;
}
.list_left_navigation_cat_list{
    padding-right:100px;
}
.tlc{
    float:right;
}

.ttl-center{
    margin-right:45px;
    color:#0066D5;
}

#ltc{
    margin-bottom:43px;
}

.input-group-btn .btn-default{
    width: 100px;
}