<div class="content">
    <div class="row content">
        <div class="col-xs-5" style="background-color: #eceff1;">

            <div class="col-xs-6" style="margin-left:-30px;">
                <img class="image1 img-reponsive" style="margin-left:5px;margin-top:5px;">
                <div style="margin-left:5px;">
                    <a href="#">plus de photos</a><br />
                    <abbr title="Téléphone">Tel:33907766</abbr><br />
                    <abbr title="nom du commerçant">Sidi Mokhtar</abbr><br />
                    <abbr title="email du commerçant">@@:wlsaad@outlook.com</abbr><br />
                </div>

            </div>
            <div class="col-xs-6" style="margin-left:17px;">

                <strong>Toyota</strong><br />
                <abbr>model: V8</abbr><br />
                <abbr>kilometrage: 6000</abbr><br />
                <abbr>carburant: gasoile</abbr><br />
                <abbr>Boite: automatique</abbr><br />

                <div style="padding-top:7px;">
                    <h3 class="text-success">3000 mro</h3>
                    <button class="btn btn-success">présentation</button>
                </div>

            </div>

        </div>
        <div class="col-xs-1">

        </div>
        <div class="col-xs-5" style="background-color: #eceff1;">
            <div class="col-xs-6" style="margin-left:-30px;">
                <img class="image1 img-reponsive" style="margin-left:5px;margin-top:5px;">

            </div>
            <div class="col-xs-6" style="margin-left:17px;">

                <strong>Toyota</strong><br />
                <abbr>model: V8</abbr><br />
                <abbr>kilometrage: 6000</abbr><br />
                <abbr>carburant: gasoile</abbr><br />
                <abbr>Boite: automatique</abbr><br />

            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <h4 class="text-success" style="margin-left:-43px" title="prix en ouguiya">
                        100000000 mro
                    </h4>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-success" style="margin-left:17px">
                        présentation
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row content">
        <div class="col-xs-2"></div>
        <div class="col-xs-8" style="height:300px;">
        </div>
        <div class="col-xs-2"></div>
    </div>

    <div class="row content">
        <div class="col-xs-2"></div>
        <div class="col-xs-8" id="gallery1">
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>