<optgroup label="Vehicles" data-subtext="">
    <option value="Voitures">Voitures</option>
    <option value="Motoes">Moto</option>
    <option value="EquipementAutoes">Auto: Pi&egrave;ce et accessoires</option>
</optgroup>

<optgroup label="Immobiliers" data-subtext="">
    <option value="LocationImmobiliers">Location</option>
    <option value="VenteImmobiliers">Ventes immobili&egrave;res</option>
    <option value="BureauCommerces">Bureau & Commerce</option>
</optgroup>

<optgroup label="Animaux" data-subtext="">
    <option value="Chameaux">Chameaux</option>
    <option value="Chevres">Ch&egrave;vres</option>
    <option value="Vaches">Vaches</option>

</optgroup>

<optgroup label="V&ecirc;tements">
    <option value="Vetements">V&ecirc;tements</option>

</optgroup>

<optgroup label="Mat&eacute;riel maison">
    <option value="Ammeublements">Ammeublement</option>
    <option value="Electromenagers">Electrom&eacute;nager</option>
    <option value="ArtTables">Arts de la table</option>
    <option value="Decorations">D&eacute;coration</option>
    <option value="Jardinages">Jardinage</option>
</optgroup>

<optgroup label="Multimedia">
    <option value="Ordinateurs">Ordinateur</option>
    <option value="Telephones">T&eacute;l&eacute;phone</option>
    <option value="Televisions">Television</option>
    <option value="Jeux">Les jeux</option>
    <option value="Informatiques">Inforamtique (Appareil ou Matériel)</option>

</optgroup>

<optgroup label="Mat&eacute;riel proffessionel">
    <option value="Mtransports">Mat&eacute;riel transport</option>
    <option value="MGrosOeuvres">Mat&eacute;riel Gro-oeuvre</option>
    <option value="EquipementIndustriels">Equipement industriels</option>
    <option value="RestaurantHotelleries">Restaurant-Hotellerie</option>
    <option value="FournitureBureaux">Fournitures de bureau</option>
    <option value="CommerceMarches">Commerce & March&eacute;s</option>
    <option value="MaterielMedicals">Mat&eacute;riel m&eacute;dical</option>

</optgroup>

<optgroup label="Services">
    <option value="ServiceMaisons">Services des maisons</option>
    <option value="CourParticuliers">Cours particuliers</option>
    <option value="EcoleAuto">Ecole Auto</option>
    <option value="Autre">Autre</option>
</optgroup>

<optgroup label="Autre">
    <option value="Autre">Autre</option>
</optgroup>
