<optgroup label="Vehicles" data-subtext="">
    <option value="Voiture">Voitures</option>
    <option value="Moto">Moto</option>
    <option value="EquipementAuto">Auto: Pi&egrave;ce et accessoires</option>
</optgroup>

<optgroup label="Immobiliers" data-subtext="">
    <option value="LocationImmobilier">Location</option>
    <option value="VenteImmobilier">Ventes immobili&egrave;res</option>
    <option value="BureauCommerce">Bureau & Commerce</option>
</optgroup>

<optgroup label="Animaux" data-subtext="">
    <option value="Chameau">Chameaux</option>
    <option value="Chevre">Ch&egrave;vres</option>
    <option value="Vache">Vaches</option>

</optgroup>

<optgroup label="V&ecirc;tement">
    <option value="Vetement">V&ecirc;tements</option>

</optgroup>

<optgroup label="Mat&eacute;riel maison">
    <option value="Ammeublement">Ammeublement</option>
    <option value="Electromenager">Electrom&eacute;nager</option>
    <option value="ArtTable">Arts de la table</option>
    <option value="Decoration">D&eacute;coration</option>
    <option value="Jardinage">Jardinage</option>
</optgroup>

<optgroup label="Multimedia">
    <option value="Ordinateur">Ordinateur</option>
    <option value="Telephone">T&eacute;l&eacute;phone</option>
    <option value="Television">Television</option>
    <option value="Jeu">Les jeux</option>
    <option value="Informatique">Inforamtique (Appareil ou Matériel)</option>

</optgroup>

<optgroup label="Mat&eacute;riel proffessionel">
    <option value="Mtransport">Mat&eacute;riel transport</option>
    <option value="MGrosOeuvre">Mat&eacute;riel Gro-oeuvre</option>
    <option value="EquipementIndustriel">Equipement industriels</option>
    <option value="RestaurantHotellerie">Restaurant-Hotellerie</option>
    <option value="FournitureBureau">Fournitures de bureau</option>
    <option value="CommerceMarche">Commerce & March&eacute;s</option>
    <option value="MaterielMedical">Mat&eacute;riel m&eacute;dical</option>

</optgroup>

<optgroup label="Service">
    <option value="ServiceMaison">Services des maisons</option>
    <option value="CourParticulier">Cours particuliers</option>
    <option value="EcoleAuto">Ecole Auto</option>
    <option value="Autre">Autre</option>
</optgroup>

<optgroup label="Autre">
    <option value="Autre">Autre</option>
</optgroup>
